<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
    {% include "metrika.html" %}
    {% block yandex_metrika %}{% endblock %}
    <link href="/static/bs/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">

            <h1 style="visibility: collapse">Просмотр результатов</h1>

            <nav class="navbar fixed-top bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">КвоккаКвиз</a></a>
                </div>
            </nav>

            <div class="card text-bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Обнаружено списывание</h5>
                    <p class="card-text">
                        Вы открыли "Инстурменты разработчика", что запрещено делать при прохождении Protect-квизов. Ваш
                        текущий результат будет сохранен, а IP адрес внесен в черный список
                    </p>
                    <a href="/" class="btn btn-light">В главное меню</a>
                </div>
            </div>


        </div>
    </div>
</div>

</body>
</html>