<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Social Quiz</title>
    {% include "metrika.html" %}
    {% block yandex_metrika %}{% endblock %}
    <link href="/static/bs/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bs/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            background: rgb(215, 154, 255);
            background: linear-gradient(90deg, rgba(215, 154, 255, 1) 0%, rgba(255, 203, 164, 1) 50%, rgba(255, 247, 196, 1) 100%);
        }
    </style>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">

            <h1 style="visibility: collapse">Просмотр результатов</h1>

            <nav class="navbar fixed-top bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">КвоккаКвиз</a>
                </div>
            </nav>


            <div class="modal modal-sheet position-static d-block p-4 py-md-5" tabindex="-1"
                 role="dialog" id="modalSignin">
                <div class="modal-dialog" role="document">
                    <div class="modal-content rounded-4 shadow">
                        <div class="modal-header p-5 pb-4 border-bottom-0">
                            <h1 class="fw-bold mb-0 fs-2">Вход</h1>
                        </div>

                        <div class="modal-body p-5 pt-0">
                            <form action="/login/check" method="post">
                                <div class="form-floating mb-3">
                                    <input name="email" type="email" class="form-control rounded-3"
                                           id="floatingInput"
                                           placeholder="name@example.com"
                                           required
                                    >
                                    <label for="floatingInput">Почта</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input name="password" type="password" class="form-control rounded-3"
                                           id="floatingInput"
                                           placeholder="123456"
                                           required
                                    >
                                    <label for="floatingInput">Пароль</label>
                                </div>
                                <!--div class="form-floating mb-3">
                                    <h5 class="fw-bold mb-0 fs-5 mb-3">Вы робот?</h5>
                                    <script src="/static/doom.js?version=17" countdown="on" enemies="4"></script>
                                </-->
                                <button class="w-100 mb-0 btn btn-lg rounded-3 btn-primary" type="submit">
                                    Войти
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>