<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Quiz</title>
    {% include "metrika.html" %}
    {% block yandex_metrika %}{% endblock %}
    <link href="/static/bs/bootstrap.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-12">

            <h1 style="visibility: collapse">Просмотр результатов</h1>

            <nav class="navbar fixed-top bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">КвоккаКвиз</a>
                </div>
            </nav>

            <div class="list-group mt-4">
                {% for q in quiz %}
                    {% if q.status == "Open" %}
                        <a href="/student/quiz/{{ q.id }}" class="list-group-item list-group-item-action">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ q.title }}</h5>
                                <small class="text-body-secondary">3 days ago</small>
                            </div>
                            <p class="mb-1">{{ q.text }}</p>
                            <small class="text-body-secondary">Нажмите, чтобы пройти</small>
                        </a>
                    {% endif %}
                {% endfor %}
            </div>


        </div>
    </div>
</div>

</body>
</html>